 <html lang="en"> 

<head>

    <title>MO COVID-19 Data By County</title>
	<meta charset="utf-8"/>
	 
    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css" rel="stylesheet"
        integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"
        integrity="sha256-ngFW3UnAN0Tnm76mDuu7uUtYEcG3G5H1+zioJw3t+68=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
	<script src="https://cdn.jsdelivr.net/npm/moment@2.25.3/min/moment.min.js"
		integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
        integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-colorschemes"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@0.5.7/chartjs-plugin-annotation.min.js"
        integrity="sha256-Olnajf3o9kfkFGloISwP1TslJiWUDd7IYmfC+GdCKd4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	
	<style>
		h2 {
			font-size: 1.5rem;
		}
		.navbar {
			color: white;
		}
		#counties ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		#counties ul li {
			width: 45%;
		}
	</style>
</head>

<body>

    <header>
        <div class="navbar navbar-dark bg-dark box-shadow">
            <div class="container d-flex justify-content-between">
                <h1>MO COVID-19 Data By County</h1>
            </div>
        </div>
    </header>

    <main role="main" class="container mt-4">
        <div class="row" id="covid-app">
			<div class="col-md-12">
				<div class="card mb-3">
					<h2 class="card-header collapsed" data-toggle="collapse" data-target="#counties"
						aria-expanded="true" aria-controls="browse-by-instructor" style="cursor: pointer">
						Counties
					</h2>
					<div class="collapse collapsed" id="counties">
						<div class="card-body">
							<ul>
								<li v-for="county in counties" :key="county.name" style="list-style-type: none">
									<label>
										<input type="checkbox" v-model="county.selected" v-on:change="toggleCounty(county)"> 
										{{ county.name }}
									</label>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
        </div>

        <div class="row">
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title text-center">Total Cases</h2>
						<canvas id="cases" style="max-height: 500px; width: 100%"></canvas>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title text-center">Daily Active Cases (Estimate)<sup>1</sup></h2>
						<canvas id="active-cases" style="max-height: 500px; width: 100%"></canvas>
					</div>
				</div>
			</div>
        </div>
        <div class="row mb-4">
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title text-center">Daily New Cases</h2>
						<canvas id="new-cases" style="max-height: 500px; width: 100%"></canvas>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title text-center">Daily New Cases - 14 Day Rolling Average</h2>
						<canvas id="new-cases-avg" style="max-height: 500px; width: 100%"></canvas>
					</div>
				</div>
			</div>
        </div>
		<div class="row mb-4">
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title text-center">Total Deaths</h2>
						<canvas id="deaths" style="max-height: 500px; width: 100%"></canvas>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-body">
						<h2 class="card-title text-center">Daily New Deaths<sup>2</sup></h2>
						<canvas id="new-deaths" style="max-height: 500px; width: 100%"></canvas>
					</div>
				</div>
			</div>
        </div>

		<section id="notes">
			<h2>Notes</h2>
			
			<p>All data is based on the 
				<a href="https://github.com/CSSEGISandData/COVID-19">
				Johns Hopkins University COVID-19 Data Repository
				</a> using the 
				<a href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports">
				Daily Reports
				</a>
				data.
			</p>
			
			<ol class="pl-3">
				<li>
					These active case numbers are an <b>estimate</b> and 
					should be taken with a grain of salt.
					Active case data is not published at the county level.
					The number of active cases for a given day is estimated
					based on the total number of new cases in the last 14 days
					minus the total number of deaths in the last 14 days. (In other words, after
					14 days you are either recovered or dead.)
					The threshold of 14 days is based on 
					<a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/coronavirus/diagnosed-with-covid-19-what-to-expect">
					this Johns Hopkins Medicine article</a> 
					stating that most cases clear up within two weeks. Accordingly, the
					shape of the Daily Active Cases chart is very similar to the
					shape of the Daily New Cases - 14 Day Rolling Average chart.
				</li>
				
				<li>
					Daily new cases and deaths less than zero indicate
					corrections in the data reported to the Johns Hopkins dataset.
				</li>
			</ol>
		</section>

    </main>

	<!--
    <footer class="container">
        <p>Footer here</p>
    </footer>
	-->
	<script>
	COUNTIES = [
		"STATEWIDE", "Adair", "Andrew", "Atchison", "Audrain", "Barry", "Barton", "Bates",
		"Benton", "Bollinger", "Boone", "Buchanan", "Butler", "Caldwell", "Callaway", "Camden",
		"Cape Girardeau", "Carroll", "Carter", "Cass", "Cedar", "Chariton", "Christian", "Clark",
		"Clay", "Clinton", "Cole", "Cooper", "Crawford", "Dade", "Dallas", "Daviess", "DeKalb", "Dent",
		"Douglas", "Dunklin", "Franklin", "Gasconade", "Gentry", "Greene", "Grundy", "Harrison",
		"Henry", "Hickory", "Holt", "Howell", "Iron", "Jackson", "Jasper", "Jefferson", "Johnson",
		"Kansas City", "Knox", "Laclede", "Lafayette", "Lawrence", "Lewis", "Lincoln", "Linn",
		"Livingston", "Macon", "Madison", "Maries", "Marion", "McDonald", "Mercer", "Miller",
		"Mississippi", "Moniteau", "Monroe", "Montgomery", "Morgan", "New Madrid", "Newton", "Nodaway",
		"Oregon", "Osage", "Ozark", "Pemiscot", "Perry", "Pettis", "Phelps", "Pike", "Platte",
		"Polk", "Pulaski", "Putnam", "Ralls", "Randolph", "Ray", "Reynolds", "Ripley", "Saline",
		"Schuyler", "Scotland", "Scott", "Shannon", "Shelby", "St. Charles", "St. Clair", "St. Francois",
		"St. Louis City", "St. Louis", "Ste. Genevieve", "Stoddard", "Stone", "Sullivan", "Taney",
		"Texas", "Vernon", "Warren", "Washington", "Wayne", "Webster", "Worth", "Unassigned" 
	];
	
	var DEFAULT_COUNTIES = [];
	params = new URLSearchParams(window.location.search);
	if (params.get('defaults') !== null) {
		for (var countyName of params.get('defaults').split(',')) {
			DEFAULT_COUNTIES.push(countyName.toLowerCase());
		}
	}
	
	<!-- Initialize charts -->
	var casesCtx = document.getElementById('cases').getContext('2d');
	var casesChart = new Chart(casesCtx, {
		type: "line",
		data: {},
		options: {
			scales: {
				xAxes: [{type: "time", time: {unit: "day"}}]
			},
			tooltips: {
				intersect: false,
				mode: "index"
			},
			plugins: {
				colorschemes: {
					scheme: 'tableau.Tableau10'
				}
			}
		} 
	});
		
	var newCasesCtx = document.getElementById('new-cases').getContext('2d');
	var newCasesChart = new Chart(newCasesCtx, {
		type: "line",
		data: {},
		options: {
			scales: {
				xAxes: [{type: "time", time: {unit: "day"}}]
			},
			tooltips: {
				intersect: false,
				mode: "index"
			},
			plugins: {
				colorschemes: {
					scheme: 'tableau.Tableau10'
				}
			}
		} 
	});
	
	var newCasesAvgCtx = document.getElementById('new-cases-avg').getContext('2d');
	var newCasesAvgChart = new Chart(newCasesAvgCtx, {
		type: "line",
		data: {},
		options: {
			scales: {
				xAxes: [{type: "time", time: {unit: "day"}}]
			},
			tooltips: {
				intersect: false,
				mode: "index"
			},
			plugins: {
				colorschemes: {
					scheme: 'tableau.Tableau10'
				}
			}
		} 
	});

	var activeCasesCtx = document.getElementById('active-cases').getContext('2d');
	var activeCasesChart = new Chart(activeCasesCtx, {
		type: "line",
		data: {},
		options: {
			scales: {
				xAxes: [{type: "time", time: {unit: "day"}}]
			},
			tooltips: {
				intersect: false,
				mode: "index"
			},
			plugins: {
				colorschemes: {
					scheme: 'tableau.Tableau10'
				}
			}
		} 
	});
	
	var deathsCtx = document.getElementById('deaths').getContext('2d');
	var deathsChart = new Chart(deathsCtx, {
		type: "line",
		data: {},
		options: {
			scales: {
				xAxes: [{type: "time", time: {unit: "day"}}]
			},
			tooltips: {
				intersect: false,
				mode: "index"
			},
			plugins: {
				colorschemes: {
					scheme: 'tableau.Tableau10'
				}
			}
		} 
	});
	
	var newDeathsCtx = document.getElementById('new-deaths').getContext('2d');
	var newDeathsChart = new Chart(newDeathsCtx, {
		type: "line",
		data: {},
		options: {
			scales: {
				xAxes: [{type: "time", time: {unit: "day"}}]
			},
			tooltips: {
				intersect: false,
				mode: "index"
			},
			plugins: {
				colorschemes: {
					scheme: 'tableau.Tableau10'
				}
			}
		} 
	});

	<!-- Vue app -->
	const CovidApp = new Vue({
		el: '#covid-app',
		data: {
			counties: [],
		},
		methods: {
			toggleCounty: function(county) {
				if(county.selected && Object.keys(county.data).length === 0) {
					var that = this;
					Promise.resolve(this.getData(county)).then(function() {
						that.updateChartDataSets();
					});
				} else {
					this.updateChartDataSets();
				}
			},
			getData: function(county) {
				var encodedCountyName = encodeURIComponent(county.name);
				const url = "https://jswelker.github.io/mo-covid19-stats/data/" + encodedCountyName + ".json";
                return axios.get(url).then(function (response) {
                    county.data = response.data;
                });
			},
			updateChartDataSets: function() {
				var casesData = {datasets: []};
				var newCasesData = {datasets: []};
				var activeCasesData = {datasets: []};
				var newCasesAvgData = {datasets: []}
				var deathsData = {datasets: []}
				var newDeathsData = {datasets: []}
				
				for(var county of this.counties) { 
					if (county.selected === false) {
						continue;
					}
					var casesDataset = {label: county.name, data: [], pointRadius: 0, lineTension: 0, fill: false};
					var newCasesDataset = {label: county.name, data: [], pointRadius: 0, lineTension: 0, fill: false};
					var activeCasesDataset = {label: county.name, data: [], pointRadius: 0, lineTension: 0, fill: false};
					var newCasesAvgDataset = {label: county.name, data: [], pointRadius: 0, lineTension: 0, fill: false};
					var deathsDataset = {label: county.name, data: [], pointRadius: 0, lineTension: 0, fill: false};
					var newDeathsDataset = {label: county.name, data: [], pointRadius: 0, lineTension: 0, fill: false};
					for(var date in county.data) {
						casesDataset.data.push({x: date, y: county.data[date].cases});
						newCasesDataset.data.push({x: date, y: county.data[date].new_cases});
						activeCasesDataset.data.push({x: date, y: county.data[date].estimated_active_cases});
						newCasesAvgDataset.data.push({x: date, y: county.data[date].rolling_avg_new_cases});
						deathsDataset.data.push({x: date, y: county.data[date].deaths});
						newDeathsDataset.data.push({x: date, y: county.data[date].new_deaths});
					}
					casesData.datasets.push(casesDataset);
					newCasesData.datasets.push(newCasesDataset);
					activeCasesData.datasets.push(activeCasesDataset);
					newCasesAvgData.datasets.push(newCasesAvgDataset);
					deathsData.datasets.push(deathsDataset);
					newDeathsData.datasets.push(newDeathsDataset);
				}
				
				this.updateChart(casesChart, casesData);
				this.updateChart(newCasesChart, newCasesData);
				this.updateChart(activeCasesChart, activeCasesData);
				this.updateChart(newCasesAvgChart, newCasesAvgData);
				this.updateChart(deathsChart, deathsData);
				this.updateChart(newDeathsChart, newDeathsData);
			},
			
			updateChart: function(chart, data) {
				chart.data = data;
				chart.update()
			},
		}
		
	});
	
	// Build the set of counties
	for(var county of COUNTIES) {
		CovidApp.counties.push({
			name: county,
			selected: DEFAULT_COUNTIES.indexOf(county.toLowerCase()) !== -1,
			data: {}
		});
	}
	
	// Select the STATEWIDE "county" by default if no other defaults are selected
	if (DEFAULT_COUNTIES.length == 0) {
		CovidApp.counties[0].selected = true;
	}
	
	// Activate the default counties
	for (var county of CovidApp.counties) {
		if (county.selected) {
			CovidApp.toggleCounty(county);
		}
	}
	
	</script>

</body>

</html>